* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: url(/images/planet-8215532_1280.png);
}

div {
  border-radius: 12px;
  background-color: rgba(6, 20, 112, 0.4);
  height: 100%;
  width: 700px;
  margin: 100px auto;
  text-align: center;
  color: white;
}

form {
  text-align: left;
  padding: 25px;
  margin-top: 25px;
}

label,
input,
select,
textarea {
  width: 100%;
  margin: 30px auto;
}

label {
  color: white;
  font-size: 25px;
  font-style: Arial;
}

input {
  padding: 15px;
  border-radius: 8px;
  border: none;
}

select {
  padding: 15px;
  border-radius: 10px;
}

input#radio-btn {
  margin-top: 30px;
  width: 40px;
}

label#radio-btns {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

input#checkbox {
  margin-top: 30px;
  width: 20px;
  padding: 0;
  margin-left: 10px;
}
