* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: url(/images/planet-8215532_1280.png);
}

div {
  border-radius: 12px;
  background-color: rgba(6, 20, 112, 0.4);
  height: 700px;
  width: 700px;
  margin: 100px auto;
  text-align: center;
  color: white;
}

form {
  text-align: left;
  padding: 25px;
}

label,
input {
  width: 100%;
  margin: 15px auto;
}

label {
  color: white;
}

input {
  padding: 15px;
  border-radius: 8px;
  border: none;
}
